* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222831;
    color: #eeeeee;
}

nav {
    background-color: #222831;
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600.8px) {
    
}

@media only screen and (min-width: 601) and (max-width: 991.8) {
    
}

@media only screen and (min-width: 992px) {
    #principal-container {
        height: 100vh;
    }

    #seccion-1, #seccion-2 {
        height: calc(100vh - 64px);
    }
}