<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App de Notas</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />
    <!--Import index.css-->
    <link rel="stylesheet" href="css/notes-page/notes.css" />
  </head>

  <body>
    <div id="principal-container">
      <!--Navbar-->
      <nav>
        <div class="container nav-wrapper">
          <a href="#!" class="brand-logo">Inicio</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li>
              <button
                class="btn waves-effect waves-light"
                style="text-transform: none; background-color: #fd7014; border-radius: 50px;"
              >
                <a style="color: #222831; font-weight: 600;" href="/auth/logout"
                  >Cerrar Sesión</a
                >
              </button>
            </li>
          </ul>
        </div>
      </nav>

      <!--Sidenav-->
      <ul
        class="sidenav center"
        style="background-color: #393e46;"
        id="mobile-demo"
      >
        <li>
          <a
            style="background-color: #fd7014; color: #222831; margin-bottom: 5px;"
            href="/auth/logout"
            >Cerrar Sesión</a
          >
        </li>
      </ul>

      <!-- Modal Structure -->
      <div id="update-modal" class="modal" style="background-color: #222831;">
        <div class="modal-content">
          <h4 style="color: #fd7014;">Actualizar Nota</h4>
          <div class="input-field">
            <input
              style="color: #eeeeee;"
              id="update-title"
              type="text"
              class="validate"
            />
          </div>
          <div class="input-field">
            <input
              style="color: #eeeeee;"
              id="update-content"
              type="text"
              class="validate"
            />
          </div>
        </div>
        <div style="background-color: #393e46;" class="modal-footer">
          <a
            style="text-transform: none; color: #fd7014;"
            href="#!"
            type="reset"
            name="reset"
            class="modal-close waves-effect waves-green btn-flat"
            ><strong>Cancelar</strong></a
          >
          <button
            id="update-note-btn"
            class="waves-effect waves-green btn-flat"
            style="text-transform: none; color: #fd7014;"
          >
            <strong>Actualizar</strong>
          </button>
        </div>
      </div>

      <div class="container">
        <h1 id="titulo" class="center">
          <span style="color: #fd7014;">TO-DO</span> App
          <img
            style="width: 56px;"
            src="https://images.vexels.com/media/users/3/315209/isolated/preview/8bb1dca3b087126559b5c8910d2969e2-un-cuaderno-encuadernado-en-espiral.png"
            alt="Libreta"
          />
        </h1>
        <div class="row">
          <div class="col s12 m8">
            <form id="new-note-form">
              <div class="input-field">
                <input
                  id="title"
                  type="text"
                  class="validate"
                  style="color: #eeeeee;"
                />
                <label for="title">Título</label>
              </div>
              <div class="input-field">
                <input
                  id="content"
                  type="text"
                  class="validate"
                  style="color: #eeeeee;"
                />
                <label for="content">Contenido</label>
              </div>
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="action"
                style="font-weight: 600; text-transform: none; background-color: #fd7014; color: #222831; border-radius: 50px; margin-right: 5px; margin-bottom: 8px;"
              >
                Agregar Nota
                <i class="material-icons right">send</i>
              </button>
              <button
                class="btn waves-effect waves-light"
                type="reset"
                name="reset"
                style="font-weight: 600; text-transform: none; background-color: #fd7014; color: #222831; border-radius: 50px; margin-bottom: 8px;"
                id="cancel-button"
              >
                Cancelar
                <i class="material-icons right">cancel</i>
              </button>
            </form>
          </div>
          <div class="col s12 m4"></div>
        </div>
        <div class="row">
          <div id="notes"></div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/notes-page/notes.js"></script>
  </body>
</html>
