<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App de Notas</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />
    <!--Import index.css-->
    <link rel="stylesheet" href="css/notes-page/notes.css" />
  </head>

  <body>
    <h1>Bienvenido a la app de notas</h1>
    <button><a href="/auth/logout">Cerrar sesion</a></button>

    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/notes-page/notes.js"></script>
  </body>
</html>
